<h1>Listing image_libraries</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @image_libraries.each do |image_library| %>
      <tr>
        <td><%= image_library.image %></td>
        <td><%= link_to 'Show', image_library %></td>
        <td><%= link_to 'Edit', edit_image_library_path(image_library) %></td>
        <td><%= link_to 'Destroy', image_library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image library', new_image_library_path %>
